<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Malaysia Haze Watch - Mobile Application for Android</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <a href="/"><img class="img-responsive" style="width: 100%;" src="/img/masthead.png" alt=""></a>
    <div id="masthead" class="container" style="width: 100% !important; background-color: #000;">
      <div class="row" style="padding-top: 16px; padding-bottom: 16px;">
        <div class="col-md-10">
          <p class="text-center lead">We help you stay informed on the haze weather in Malaysia. <a href="#more">Learn more</a></p>
        </div>
        <div class="col-md-2 text-center">
          <a href="https://play.google.com/store/apps/details?id=my.codeandroid.hazewatch" target="_blank" title="Get Haze Watch on Google Play">
            <img class="img-responsive btn-getongoogleplay" style="" src="/img/en_generic_rgb_wo_60.png" alt="Get Haze Watch on Google Play">
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <a name="more"></a>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img class="img-responsive" src="/img/hazewatch_device_screens.png" style="width: 100%; margin-top: 24px;">
          <p class="text-center">Get information about the Air Pollutant Index (API) for Perlis, Kedah, Pulau Pinang, Perak, Selangor, Melaka, Negeri Sembilan, Johor, Pahang, Terengganu, Kelantan, Sabah, Sarawak and Federal Territories of Kuala Lumpur, Labuan &amp; Putrajaya.</p>
          <p class="text-center">Perfectly designed for your Android smartphone &amp; tablets.</p>
          <div class="text-center"><a href="https://play.google.com/store/apps/details?id=my.codeandroid.hazewatch" target="_blank" class="btn btn-success btn-lg btn-download">Download now</a></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="footer" class="row text-center">
        <p class="small" style="line-height: 1.5em;">Malaysia Haze Watch is a CodeAndroid Malaysia project.<br> Made in Malaysia.</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-884241-8', 'hazewatcher.appspot.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>